@import'bootstrap';


.bandiera{
height: 20px;
display: flex;
margin: 3px;
}

html{
 width: 100%;
 height: 100%;
}

a{
text-decoration: none;
}



body{
    min-width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;

}

.container{
    margin-left: 0px;
}

*{
    font-family: 'Alexandria'; font-size: 14px;
    text-decoration:none;
}

.p-footer{
    color: #e8e3e1;
}

.box-category {

border-radius:40px;
margin-left: 20px;
margin-right: 20px;
border: 3px solid #3F2E3E;
height: 150px;
justify-content: center;
align-items:center ;
display: flex;
margin-top: 65px;

}

.box img {
border-radius: 40px;
width: 100vw;
padding-left: 10px;
padding-right: 10px;
margin-bottom: 20px;
margin-top: 65px;
justify-content: center;
align-items:center ;


  }

.btn-primary{
    padding: 17px 40px;
    border-radius: 50px;
    cursor: pointer;
    border: 10px;
    background-color: #1E3A3A;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 14px;
    transition: all 0.5s ease;
    text-decoration: none;
    color: white;
}

.btn-primary:hover{
    letter-spacing: 2px;
    background-color: white;
    color: #1E3A3A;
    box-shadow: rgba(97, 213, 180, 0.5)0px 7px 29px 0px;
}

.btn-image{
    padding: 17px 40px;
    border-radius: 50px;
    cursor: pointer;
    border: 10px;
    background-color: white;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 14px;
    transition: all 0.5s ease;
   text-decoration: none;
color: #e8e3e1;


}



.btn-image:hover{
    letter-spacing: 2px;
    background-color: #3F2E3E;
    color: hsl(0, 0%, 100%);
    box-shadow: rgba(97, 213, 180, 0.5)0px 7px 29px 0px;
    text-decoration: none ;

}

.btn-start{
    padding: 17px 40px;
    border-radius: 50px;
    cursor: pointer;
    border: 10px;
    background-color: white;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 14px;
    transition: all 0.5s ease;
    text-decoration: none



}

.btn-start:hover{
    letter-spacing: 2px;
    background-color: #3F2E3E;
    color: hsl(0, 0%, 100%);
    box-shadow: rgba(63, 46, 62, 0.5)0px 7px 29px 0px;
}


.btnDetail{
    padding: 17px 25px;
    border-radius: 50px;
    cursor: pointer;
    border: 10px;
    background-color: white;
    box-shadow: rgb(168 124 124 / 50%) 0 0 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 12px;
    transition: all 0.5s ease;
    text-decoration: none;
    display: inline-block;
    color: #3F2E3E;
}

.btnDetail:hover{
    letter-spacing: 2px;
    background-color: #3F2E3E;
    color: hsl(0, 0%, 100%);
    box-shadow:  rgb(168 124 124 / 50%) 0 0 12px;
}

.btnCategory{


  padding: 0.7em 1.7em;
  font-size: 12px;
  border-radius: 0.5em;
cursor: pointer;
  border: 2px solid #1E3A3A;
  transition: all 0.3s;
  color: #1E3A3A;
  text-decoration: none;
}
.btnCategory:hover {

    letter-spacing: 2px;
    background-color: #1E3A3A;
    color: hsl(0, 0%, 100%);
    box-shadow: rgba(255, 255, 255, 0.5)0px 7px 29px 0px;
    text-decoration: none;
  }


.btn-Footer{
    padding: 17px 25px;
    border-radius: 50px;
    cursor: pointer;
    border: 10px;
    background-color: white;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 12px;
    transition: all 0.5s ease;
    text-decoration: none;
    display: inline-block;
    color: #3F2E3E;
}


.btn-Footer:hover{
    letter-spacing: 2px;
    background-color: #A87C7C;
    color: hsl(0, 0%, 100%);
    box-shadow: rgba(255, 255, 255, 0.5)0px 7px 29px 0px;
    text-decoration: none;
}

.btn-ads{
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    border: 10px;
    background-color: white;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 14px;
    transition: all 0.5s ease;
    text-decoration:none;
color: #3F2E3E;


}

.btn-ads:hover{
    letter-spacing: 2px;
    background-color: #1E3A3A;
    color: hsl(0, 0%, 100%);
    box-shadow: rgba(97, 213, 180, 0.5)0px 7px 29px 0px;
}

.carousel {
    display: flex;
    overflow: hidden;
}

.carousel img {
    width: 50%;
    transition: transform 1s ease-in-out;
}

.carousel img:nth-child(1) {
    transform: translateX(0);
}

.carousel img:nth-child(2) {
    transform: translateX(-100%);
}

.carousel img:nth-child(3) {
    transform: translateX(-200%);
}

.transitions {
    animation: slide 5s infinite;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    33.3% {
        transform: translateX(-100%);
    }
    66.6% {
        transform: translateX(-200%);
    }
    100% {
        transform: translateX(0);
    }
}
