@import'bootstrap';



html{
    height: 100%;
    width: 100%;
}
body{
    min-width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
   
}

.container{
    margin-left: 0px;
}



*{
    font-family: 'Alexandria'; font-size: 14px;
    text-decoration:none;
    color: rgb(62, 62, 62);

}

.box-category {

border-radius:40px;
margin-left: 20px;
margin-right: 20px;
border: 3px solid #3F2E3E;
height: 150px;
justify-content: center;
align-items:center ;
display: flex;
margin-top: 65px;

}

.box img {
border-radius: 40px;
width: 100vw;
padding-left: 10px;
padding-right: 10px;
margin-bottom: 20px;
margin-top: 65px;
justify-content: center;
align-items:center ;


  }

.btn-primary{
    padding: 17px 40px;
    border-radius: 50px;
    cursor: pointer;
    border: 10px;
    background-color: white;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 14px;
    transition: all 0.5s ease;
    text-decoration: none



}

.btn-primary:hover{
    letter-spacing: 2px;
    background-color: #1E3A3A;
    color: hsl(0, 0%, 100%);
    box-shadow: rgba(97, 213, 180, 0.5)0px 7px 29px 0px;
}

.btn-start{
    padding: 17px 40px;
    border-radius: 50px;
    cursor: pointer;
    border: 10px;
    background-color: white;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 14px;
    transition: all 0.5s ease;
    text-decoration: none



}

.btn-start:hover{
    letter-spacing: 2px;
    background-color: #3F2E3E;
    color: hsl(0, 0%, 100%);
    box-shadow: rgba(63, 46, 62, 0.5)0px 7px 29px 0px;
}


.btn-detail{
    padding: 17px 25px;
    border-radius: 50px;
    cursor: pointer;
    border: 10px;
    background-color: white;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 12px;
    transition: all 0.5s ease;
    text-decoration: none;
    display: inline-block;
}

.btn-ads{
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    border: 10px;
    background-color: white;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 14px;
    transition: all 0.5s ease;
    text-decoration:none;
color: #3F2E3E;


}

.btn-ads:hover{
    letter-spacing: 2px;
    background-color: #1E3A3A;
    color: hsl(0, 0%, 100%);
    box-shadow: rgba(97, 213, 180, 0.5)0px 7px 29px 0px;
}

.carousel {
    display: flex;
    overflow: hidden;
}

.carousel img {
    width: 50%;
    transition: transform 1s ease-in-out;
}

.carousel img:nth-child(1) {
    transform: translateX(0);
}

.carousel img:nth-child(2) {
    transform: translateX(-100%);
}

.carousel img:nth-child(3) {
    transform: translateX(-200%);
}

.transitions {
    animation: slide 5s infinite;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    33.3% {
        transform: translateX(-100%);
    }
    66.6% {
        transform: translateX(-200%);
    }
    100% {
        transform: translateX(0);
    }
}
