@import'bootstrap';

.alexandria{
    font-family: "Alexandria", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }

.bandiera{
height: 20px;
display: flex;
margin: 3px;
}

html{
 width: 100%;
 height: 100%;
}

a{
text-decoration: none;
}

#showCarousel{

margin-bottom:20px;
border-radius: 20px;
margin-top:20px;
align-items: center;
width:100%;
height: 100%;
box-shadow: rgb(0 0 0 / 30%) 0 0 12px;

}

body{
    min-width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;

}

.container{
    margin-left: 0px;
}

*{
    font-family: 'Alexandria'; font-size: 14px;
    text-decoration:none;
}

.p-footer{
    color: #e8e3e1;
}



.box-category {

border-radius:40px;
margin-left: 20px;
margin-right: 20px;
height: 150px;
justify-content: center;
align-items:center ;
display: flex;
margin-top: 65px;
background-color:#1E3A3A;
box-shadow: rgb(0 0 0 / 30%) 0 0 12px;
opacity:0.5;
}

.boxImg {
display: flex;
border-radius: 50px;
width: 100vw;
padding-left: 10px;
padding-right: 10px;
margin-bottom: 30px;
margin-top: 30px;
justify-content:center;
align-items:center ;


  }

.cardAds{
border-radius: 20px;
box-shadow: rgb(0 0 0 / 50%) 0 0 18px;
background-color: #f0efef;
}

.cardImg{

border-radius: 20px;
width: 100%;

}

.btn-primary{
    padding: 17px 40px;
    border-radius: 50px;
    cursor: pointer;
    border: 10px;
    background-color: #1E3A3A;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 14px;
    transition: all 0.5s ease;
    text-decoration: none;
    color: white;
}

.btn-primary:hover{
    letter-spacing: 2px;
    background-color: white;
    color: #1E3A3A;
    box-shadow: rgba(97, 213, 180, 0.5)0px 7px 29px 0px;
}

.btn-image{
display: flex;
width: 100%;
    justify-content: center;
    text-align: center;
    padding: 17px 20px;
    border-radius: 50px;
    cursor: pointer;
    background-color: #3F2E3E;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 14px;
    transition: all 0.5s ease;
   text-decoration: none;
color: #e8e3e1;
margin-top: 20px;

}



.btn-image:hover{
    letter-spacing: 2px;
    background-color: #ffffff;
    color: #3F2E3E;
    box-shadow:  rgb(168 124 124 / 50%) 0 0 12px;
    text-decoration: none ;

}

.btnDetail{
    padding: 17px 25px;
    border-radius: 50px;
    cursor: pointer;
    border: 10px;
    background-color: #3F2E3E;
    box-shadow: rgb(168 124 124 / 50%) 0 0 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 12px;
    transition: all 0.5s ease;
    text-decoration: none;
    display: inline-block;
    color: #ffffff;
}

.btnDetail:hover{
    letter-spacing: 2px;
    background-color:  #ffffff;
    color: #3F2E3E;
    box-shadow:  rgb(168 124 124 / 50%) 0 0 12px;
}

.btnCategory{
display: flex;
margin-top: 10px;
width: 70%;
text-align: center;
justify-content: center;
  padding: 10px 5px;
  font-size: 12px;
  border-radius: 0.5em;
  cursor: pointer;
  border: 2px solid #1E3A3A;
  transition: all 0.3s;
  color: #1E3A3A;
  text-decoration: none;
}
.btnCategory:hover {
    letter-spacing: 1px;
    background-color: #1E3A3A;
    color: hsl(0, 0%, 100%);
    box-shadow: rgba(255, 255, 255, 0.5)0px 7px 29px 0px;
    text-decoration: none;
  }


.btnFooter {

    justify-content: center;
text-align: center;
    padding: 17px 40px;
    border-radius: 50px;
    cursor: pointer;
    background-color:  #A87C7C;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 14px;
    transition: all 0.5s ease;
   text-decoration: none;
color: #e8e3e1;
margin-top: 20px;
}


.btnFooter:hover{
    letter-spacing: 2px;
    background-color:white;
    color: #A87C7C;
    box-shadow: rgba(255, 255, 255, 0.5)0px 7px 29px 0px;
    text-decoration: none;
}

.btn-ads{
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    border: 10px;
    background-color: #1E3A3A;

    box-shadow: rgba(97, 213, 180, 0.5)0px x 0px 12px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 14px;
    transition: all 0.5s ease;
    text-decoration:none;
color: white;


}

.btn-ads:hover{
    letter-spacing: 2px;
    background-color: white;
    color:#3F2E3E;
    box-shadow: rgb(0 0 0 / 30%) 0 0 8px;

}

.carousel {
    display: flex;
    overflow: hidden;

}

.carousel img {
    width: 50%;
    transition: transform 1s ease-in-out;
}

.carousel img:nth-child(1) {
    transform: translateX(0);
}

.carousel img:nth-child(2) {
    transform: translateX(-100%);
}

.carousel img:nth-child(3) {
    transform: translateX(-200%);
}

.transitions {
    animation: slide 5s infinite;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    33.3% {
        transform: translateX(-100%);
    }
    66.6% {
        transform: translateX(-200%);
    }
    100% {
        transform: translateX(0);
    }
}
