@import'bootstrap';





.footer-06 {
    padding-top: 0 !important;
    background: #3F2E3E ;
    position:relative;
    overflow: hidden;
    z-index: 0;
    
   
}
.footer-06 .subheading {
    color: #c0c0c0;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.footer-06 .heading-section {
    color:  #eeeae8;
    font-size: 20px;
    text-transform: uppercase;
}

