@import'bootstrap';

.footer-06 {
    padding-top: 0 !important;
    background: #174b57 ;
    position: relative;
    overflow: hidden;
    z-index: 0;
}

.footer-06:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    opacity: .2;
    z-index: -1;
    background-image: radial-gradient(circle, #4e1244 0%, #174b57 100%);
    background-size: 100% auto;
    background-image: radial-gradient(circle, #4e1244 0%, #174b57 100%);
    background-size: 100% auto;
    background-image: radial-gradient(circle, #4e1244 0%, #174b57 100%);
    background-size: 100% auto;
    background-image: radial-gradient(circle, #4e1244 0%, #174b57 100%);
    background-size: 100% auto;
    background-image: radial-gradient(circle, #4e1244 0%, #174b57 100%);
    background-size: 100% auto;
    background-image: -ms-radial-gradient(center, ellipse cover, #4c1152 0%, #174b57 100%);
    background-image: -webkit-radial-gradient(center, ellipse, #4c1152 0%, #174b57 100%);
    background-image: -o-radial-gradient(center, ellipse, #4c1152 0%, #174b57 100%);
    background-image: radial-gradient(ellipse at center, #4c1152 0%, #174b57 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4c1152', endColorstr='#ffffff', GradientType=1);
}

.footer-06 .subheading {
    color: rgba(255, 255, 255, 0.3);
    text-transform: uppercase;
    letter-spacing: 2px;
}

.footer-06 .heading-section {
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
}

.footer-06 .footer-heading {
    font-size: 20px;
    color: #fff;
    margin-bottom: 20px;
}

.footer-06 .footer-heading .logo {
    color: #fff;
}

.footer-06 p {
    color: rgba(255, 255, 255, 0.3);
}

.footer-06 a {
    color: #fff;
}

.footer-06 .subscribe-form {
    border-radius: 40px;
    background: #fff;
    padding: 3px;
}

.footer-06 .subscribe-form .form-group {
    position: relative;
    margin-bottom: 0;
    border-radius: 0;
}

.footer-06 .subscribe-form .form-group input {
    background: transparent !important;
    border: none !important;
    outline: none !important;
    background-image: radial-gradient(circle, #4e1244 0%, #174b57 100%);
    background-size: 100% auto !important;
    font-size: 16px;
    height: 56px;
    border-radius: 0;
}

.footer-06 .subscribe-form .form-group input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: rgba(34, 32, 32, 0.3) !important;
}

.footer-06 .subscribe-form .form-group input::-moz-placeholder {
    /* Firefox 19+ */
    color: rgba(34, 32, 32, 0.3) !important;
}

.footer-06 .subscribe-form .form-group input:-ms-input-placeholder {
    /* IE 10+ */
    color: rgba(34, 32, 32, 0.3) !important;
}

.footer-06 .subscribe-form .form-group input:-moz-placeholder {
    /* Firefox 18- */
    color: rgba(34, 32, 32, 0.3) !important;
}

.footer-06 .subscribe-form .form-group input:focus {
    outline: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.footer-06 .subscribe-form .form-group .submit {
    color: #fff !important;
    display: block;
    width: 150px;
    height: 56px;
    font-size: 14px;
    background-image: radial-gradient(circle, #4e1244 0%, #174b57 100%);
    background-size: 100% auto !important;
    border: none;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 40px;
}

.footer-06 .subscribe-form .form-group .submit:hover,
.footer-06 .subscribe-form .form-group .submit:focus {
    text-decoration: none !important;
    outline: none !important;
}

.footer-06 .aside-stretch {
    background-image: radial-gradient(circle, #4e1244 0%, #174b57 100%);
    background-size: 100% auto;
}

.footer-06 .aside-stretch:after {
    background-image: radial-gradient(circle, #4e1244 0%, #174b57 100%);
    background-size: 100% auto;
}

.footer-06 .aside-stretch-right {
    background-image: radial-gradient(circle, #4e1244 0%, #174b57 100%);
    background-size: 100% auto;
}

.footer-06 .aside-stretch-right:after {
    background-image: radial-gradient(circle, #4e1244 0%, #174b57 100%);
    background-size: 100% auto;
}

.row {
    --bs-gutter-x: 7rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-0.5 * var(--bs-gutter-x));
    margin-left: calc(-0.5 * var(--bs-gutter-x));
}





#banner {
    padding: 5em 0 4.75em 0 ;
}

    #banner .inner {
        margin: 0 auto;
        width: 55em;
        
    }

       
    @media screen and (max-width: 1280px) {

        #banner {
            padding: 7em 0 8.25em 0 ;
            background-color: #2e3141;
            background-image: linear-gradient(to top, rgba(46, 49, 65, 0.8), rgba(46, 49, 65, 0.8)), url("./public/immagini/bg.jpg");
            background-size: auto,
cover;
            background-position: center,
center;
            margin-bottom: -6.5em;
        }

    }

    @media screen and (max-width: 980px) {

        #banner {
            padding: 12em 3em 12.375em 3em ;
            margin-bottom: -4.75em;
        }

            #banner .inner {
                width: 100%;
            }

    }

    @media screen and (max-width: 736px) {

        #banner {
            padding: 5em 2em 4.25em 2em ;
            margin-bottom: -2.5em;
        }

            #banner .logo {
                margin: 0 0 1em 0;
            }

                #banner .logo .icon {
                    font-size: 1.5em;
                }

            #banner h2 {
                font-size: 1.5em;
            }

            #banner p {
                font-size: 0.8em;
            }

    }

   