@import'bootstrap';





.footer-06 {
   
    background: #3F2E3E ;
   
   
  margin-top: auto;
   
  
    
    
   
}
.footer-06 .subheading {
    color: #c0c0c0;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.footer-06 .heading-section {
    color:  #eeeae8;
    font-size: 20px;
    text-transform: uppercase;
}

.footer-06 .footer-heading {
    font-size: 20px;
    color:  #eeeae8;
    margin-bottom: 20px;

}